@page "/FooterLayout"

    <footer id="footer" class="footer">
        <div class="copyright">
            <span>
                Powered by .NET Core 3.0.0 (Blazor) on Linux
            </span>
        </div>
    </footer>