@page "/HeaderLayout"
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header header-logo">
                    <a href="/">Pomelobutter Blog</a>
                </div>
                <div class="menu navbar-right">                   
                    <NavLink class="menu-item" href="Posts" > Posts </NavLink>
                    <NavLink class="menu-item" href="Categories">Categories</NavLink>
                    <NavLink class="menu-item" href="Tags">Tags</NavLink>

                </div>
            </div>
        </nav>      
    </header>