<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="main">
                <div class="container">
                    <div class="intro">
                        <p>一阵大风刮过，您访问的页面被刮走了~~</p>                       
                        <img src="/images/404.jpg" width="180px"/>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
