@page "/Tags"
@inject Api Api
    <div class="main">
        <div class="container">
            <div class="post-wrap tags">
                <h2 class="post-title">-&nbsp;Tags&nbsp;-</h2>
                <div class="tag-cloud-tags">                                        
                    @foreach (var item in Models)
                    {
                        <a href="/tag/@item.DisplayName/">@item.TagName<small>(@item.Count)</small></a>
                    }
                </div>
            </div>
        </div>
    </div>
@code {

    public IList<TagViewModel> Models;
    protected  override async Task OnInitializedAsync()
    {
      Models= await Api.GetTagListAsync();
    }

}
